doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content 
    /block content, todo archivo que salga de aqui empezara a partir de body
