/html
  /head
    /title Listado de usuarios.
  /body
  
extends ../layout
/esto evita poner mas codigo, (sin html, head, etc) direccioando al layout
    h1 "Usuarios"
    input (type='text', name='saludo')
